<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div class="product-row row">
    <h3 class="text-center">You may be interested in...</h3>
    <% products.forEach((product) => { %>
      <div class="col-sm-3 home-product-box">
        <img src="<%= product.imageUrl %>">
        <div class="product-info-wrapper">
          <a class="title" href="/products/single/<%= product._id %>">
            <strong><%= product.name %></strong>
          </a><br>
          by <span class="light-text"><%= product.producer.username %></span><br>
          <span class="light-text description"><%= product.description %></span>
        </div>
      </div>
    <%  }) %>
  </div>
