<div class="product-row row">
<% products.forEach((product) => { %>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
        <img class = "tamañoImg" src="<%= product.imageUrl %>">
          <div class="caption">
              <h4><%= product.name %></h4>
              <h4>Precio: <%= product.unitPrice %> € iva incluido</h4>
              <div style="height: 50px; width: 300px; overflow-y: auto;"><%= product.description %></div>
              <a href="/products/single/<%= product._id %>" class="btn btn-info btn-xs" role="button">Detalles</a>
          </div>

      </div>
    </div>
    <%  }) %>
</div>
